<!-- section.handlebars -->
<div class="page-header">
  <h3>{{section.name}}</h3>
  <p>{{section.description}}</p>
</div>

{{#each section.items}}
<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>{{this.title}}</strong>
    </p>
    <p>
      {{this.description}}
    </p>
    <p>
      &pound;{{this.price}}
    </p>
  </div>
</div>
{{/each}}
